[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
django-heroku = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
