<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .x1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 2px solid red;
        align-content: space-between;
      }

      .x2 {
        margin: 20px;
        height: 100px;
        width: 150px;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
      }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="header">
      {% if not user.is_authenticated %}
      <div><a href="/login/">Login</a></div>
      <div><a href="/signup/">Signup</a></div>
      {% else %}
      <div><a href="/logout/">logout</a></div>
      <div><a href="/profile/{{user.id}}/">Profile</a></div>
      {% endif%}
      <div><a href="/listoftags/">List of Groups</a></div>
      <div><a href="/Hall of Fame/">Hall of Fame</a></div>
      <div><a href="/upload">Upload</a></div>
      <div><a href="/admin">admin</a></div>
      <div><a href="/">HOME</a></div>
    </div>
    <main>{% block content %} {% endblock %}</main>
  </body>
  <footer>
    <p>Copyright © 2021 by pyxz digital media inc. All rights reserved.</p>
  </footer>
</html>
