{%for url in img_urls%} {% load static %}
<button
  onclick="document.getElementById('{{url}}').style.display='block'"
  class="w3-button"
>
  <img
    class="x2"
    style="height: 250px; width: auto"
    src="{% static url %}"
    alt="My image"
  />
</button>

<div id="{{url}}" class="w3-modal w3-animate-zoom">
  <h3>Title Here: {{url}}</h3>
  <img
    onclick="document.getElementById('{{url}}').style.display='none'"
    class="x2"
    style="height: auto; width: 60vw"
    src="{% static url %}"
    alt="My image"
  />
  <div>comment form Here</div>
  <div>list of comments here</div>
</div>
{%endfor%}
