{% extends 'base.html' %} {% block content %} {% load static %}
<h1>New Stories:</h1>
<div class="story container" style="border: 1px solid black; display: flex">
  {% include 'story_partial.html' with obj=stories comments=comments form=form%}
</div>
<div>
  Main Feed:
  <button>all*</button>
  <button>new*</button>
  <button>top*</button>
  <button>following/user*</button>
  <button>following/tags*</button>
</div>
<div>
  {% include 'card_partial.html' with obj=img_set comments=comments form=form%}
</div>

{% endblock %}
