{%extends 'base.html'%}
{% load static %}
{% block content %}
<h2>Title: {{i.title}}</h3>
<h4> by: <a href="/profile/{{i.myuser.id}}/">{{i.myuser.username}}</a> at: {{i.post_time}}</h4>


<img class='x2' style='height:auto; width:60vw' src="{% static i.photo.url %}" alt="My image">

<p>tags:<p>
{%for tag in t%}
<li ><a  href='/tag/{{tag.slug}}'>#{{tag}}</a></li>
{%endfor%} 


<p>Description: {{i.description}}</p>


<div class="score">
  <a href="/likeup/{{i.id}}/"><button>up</button></a>
  {{i.score}}
        <a href="/likedown/{{i.id}}/"><button>down</button></a>
      </div>
      
      
        <form method="POST" action="">
          {% csrf_token %} {{ form.as_table }}
          <input type="hidden" name="title" value="{{ i.photo }}" />
          <button type="submit" value="Post" class="btn btn-dark">💡</button>
        </form>

        {% for comment in comments %} 
        {% if comment.photo_linked == i %}
        <li>{{comment.text}} by
        <a href="/profile/{{comment.author.id}}">{{comment.author}}</a>
        <div class="score_comment">
            <a href="/commentlikeup/{{comment.id}}/"><button>up</button></a>
            {{comment.score}}
            <a href="/commentlikedown/{{comment.id}}/"><button>down</button></a>
          </div>
          </li>
        {% endif %} {% endfor %}
    </div>
  </div>

{% endblock %}
