{% extends 'base.html' %}

{% block content %}

<h1>Welcome to your profile, {{user}}!</h1>
<p>Following: {{num_of_followers}}</p>

<h3>Your Pyxz's</h3>
<br>
{% load static %}
<head>
    <style>
        .x1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 2px solid red; align-content: space-between}

        .x2 {
            margin: 100px;
        }
        </style>
</head>

<div class='x1'>
    {% for url in img_urls %}
        <img class='x2' style='height:250px' src="{% static url %}" alt="My image">
    {% endfor %}
</div>

<h3>Date Joined:{{user.date_joined}}</h3>
{% endblock %}