{% extends 'base.html' %} {% block content %} {% load static %}
<div class='container'>
  <div class="card">
    <div class="card-title"> 
      <img class ="circle" style='height: 66px; width:66px' src='{% static user.profile_pyxz %}' alt="profile picture">
      Hello, {{user}}! 
    </div>  

  <a href="/profile/edit"><button>edit</button></a></h1>
  <a href="/follow/{{ user.id }}/"><button>Follow</button></a>
  <a href="/unfollow/{{ user.id }}/"><button>Unfollow</button></a>
  <p>Following {{user.get_following_num}} users: 
    {% for name in user.following.all %}
      <a  href='/profile/{{name.id}}'>{{name}}, </a>
    {% endfor %}
  </p>
  <h3>Date Joined:{{user.date_joined}}</h3>
  <p class="card-content">{{user.bio}}</p>
  tags: {%for tag in user.tags.all%}
  <a  href='/tag/{{tag.slug}}'>#{{tag}}, </a>
  {% endfor %}
</div>
<br />

<h3>Your Pyxz's</h3>
  <div>{% include 'card_partial.html' with obj=img_set form=form %}</div>
</div>
  {% endblock %}
