<!-- templates/home.html -->
{% extends 'base.html' %}{% block content %}
<!-- <head>
  <style>
    #container {
      display:flex;

    }
  </style>

</head> -->
{% load static %}

<div class="container">
  <h1>Search Results</h1>

  <ul>
    <h3>User Names</h3>
    <div class="collection">
      {% for obj in new_list %} {% if obj.get_class_name == 'MyUser' %}
      <a href="/profile/{{obj.id}}/" class="collection-item avatar">
        <li>
          <img src="{% static obj.profile_pyxz %}" alt="" class="circle" />
          <span class="title"> User: {{ obj.username }}</span>
        </li>
      </a>
      {% endif %} {% endfor %}
    </div>

    <h3>Image Titles</h3>
    <div class="collection">
      {% for obj in new_list %} {% if obj.get_class_name == 'Image' %}
      <a href="/img/{{obj.id}}/" class="collection-item">
        <li>{{ obj.title }}</li>
      </a>
      {% endif %} {% endfor %}
    </div>
  </ul>
</div>

{% endblock %}
<!-- {% if obj.get_class_name == '' %}
         <li>{{ obj. }}</li>
  {% endif %} -->
