<style>
  .cardCustom {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  #addS{
    display:flex;
    align-self: center;
    margin: 10px;
  }
</style>

<a
  id='addS'
  class="btn-floating btn-large waves-effect waves-light red"
  href="/upload">
  <i class="material-icons">add</i>
</a>

{% load static %} {%for img in obj%}

<a
  href="/img/{{img.id}}">
  
  <div 
    class="cardCustom"
    style="height: 100px; width: auto; margin: 0px; padding: 10px">
    <!-- Card Content -->
    {{img.title}}
    <img
      class="x2"
      style="height: 100px; width: auto; margin: 0px; padding: 0px"
      src="{% static img.photo %}"
      alt="My image"
    />
  </div>
</a>

<!-- <div id="{{img.photo}}" class="w3-modal w3-animate-zoom">
  <div class="w3-modal-content">
    <h3>Title Here: {{img.title}}</h3>
    <img
      onclick="document.getElementById('{{img.photo}}').style.display='none'"
      class="x2"
      style="height: auto; width: 60vw"
      src="{% static img.photo %}"
      alt="My image"
    />
    <div class="score_img">
      <a href="/likeup/{{img.id}}/"><button>up</button></a>
      {{img.score}}
      <a href="/likedown/{{img.id}}/"><button>down</button></a>
    </div>
    <p class="w3-container w3-card-4">{{img.description}}</p>
    <div>
      <form method="POST" action="">
        {% csrf_token %} {{ form.as_table }}
        <input type="hidden" name="title" value="{{ img.photo }}" />
        <button type="submit" value="Post" class="btn btn-dark">💡</button>
      </form>
      <ul>
        {% for comment in comments %} {% if comment.photo_linked == img %}
        <li class="w3-card-4">
          {{comment}}
          <div class="score_comment">
            <a href="/commentlikeup/{{comment.id}}/"><button>up</button></a>
            {{comment.score}}
            <a href="/commentlikedown/{{comment.id}}/"><button>down</button></a>
          </div>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</div> -->
{%endfor%}
