{% extends 'base.html' %}

{% block content %}

<h1>Welcome to {{tag}}!</h1>
<h3>All Pyxz's</h3>
<br>
{% load static %}
<head>
    <style>
        .x1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 2px solid red; align-content: space-between}

        .x2 {
            margin: 100px;
        }
        </style><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <script>
        
    </script>
    
    <div>
        {% for url in img_urls %}
        <button onclick="document.getElementById('{{url}}').style.display='block'" class="w3-button">
            <img class='x2' style='height:250px' src="{% static url %}" alt="My image">
        </button>
    
        <div id="{{url}}" class="w3-modal w3-animate-zoom">
            <h3>Title Here: {{url}}</h3>
            <img onclick="document.getElementById('{{url}}').style.display='none'" class='x2' style='height:250px' src="{% static url %}" alt="My image">
            <div>comment form Here</div>
            <div>list of comments here</div>
        </div>
       
    
        {% endfor %}
    </div>

{% endblock %}