{% extends 'base.html' %}{% block content %}{% load static %}

<head>
  <style>
    #user_container {
      display: flex;
      justify-content: center;
    }
    #usr_box {
      display: flex;
      padding-top: 7px;
      align-items: center;
    }
  </style>
</head>
<!-- <h6>Following {{user.get_following_num}} users: 
  {% for name in user.following.all %}
    <a  href='/profile/{{name.id}}'>{{name}}, </a>
  {% endfor %} -->

<br>
{% for user in displayuser %}
  {% if user.get_profilepic_status == True %}
    <div id='user_container'>

      <div class="collection z-depth-3" style='width: 500px;'>
        <a  href="/profile/{{user.id}}/"  class="collection-item avatar ">
          <ul>
            <li id='usr_box'>
              <img
                class="circle"
                style="height: 66px; width: 66px"
                src="{% static user.profile_pyxz %}"
                alt="profile picture"
              />
              <span class="title">.</span>
              <strong>
                <p style='margin-left:20px;'>{{ user.username }}</p>
              </strong>
            </li>
          </ul>
        </a>
      </div>
    </div>
    {% else %}
    <div id='user_container'>

      <div class="collection z-depth-3" style='width: 500px;'>
        <a  href="/profile/{{user.id}}/"  class="collection-item avatar">
          <ul>
            <li id='usr_box'>
              <img
                class="circle"
                style="height: 66px; width: 66px"
                src="https://upload.wikimedia.org/wikipedia/en/1/1b/NPC_wojak_meme.png"
                alt="profile picture"
              />
              <span class="title">.</span>
              <strong>
                <p style='margin-left:20px;'>{{ user.username }}</p>
              </strong>
            </li>
          </ul>
        </a>
      </div>
    </div>
  {% endif %}  


{% endfor %}{% endblock %}
